/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Main app layout */
.app {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* Main content */
.content {
  margin-left: 220px; /* space for sidebar */
  padding: 40px;
  flex: 1;
}

/* Sections */
section {
  margin-bottom: 15rem;
}

section h1 {
  margin-bottom: 20px;
  color: #373737;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    margin-left: 60px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    margin: 0;
    padding: 20px;
  }

  .hero-section h1 {
    font-size: 2rem;
  }
}
