.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background-color: #202020fb;
  color: #fff;
  padding-top: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
  margin-bottom: 50px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #f4d9d9;
  font-weight: bold;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #e4d20d;
  padding-left: 10px;
  transition: 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding-top: 20px;
  }

  .sidebar ul li {
    margin: 15px 0;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
